.App {
  text-align: justified;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

h1 a, h1 a:visited {
  color: white;
}

.App-intro {
  font-size: large;
  padding: 50px;
  font-size: 1.4em;
}

sup, .citation {
  color: #888;
  opacity: 0.5;
}

li {
  padding: 3px;
}

a, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px #DDD dotted;
}
