.App {
  text-align: justified;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

h1 a, h1 a:visited {
  color: white;
}

h3 {
  margin: 0px;
  padding-bottom: 0px;
}

ul {
  padding: 0px;
  padding-left: 20px;
}

.App-intro {
  font-size: large;
  padding: 10px;
  padding-left: 40px;
  font-size: 1.4em;
}

sup, .citation {
  color: #888;
}

li {
  padding: 3px;
}

a, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px #AAA dotted;
}

div.controls {
  float: right;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 500px) {
    body {
      font-size: 0.8em;
      padding: 5px;
    }


    li, ul {
        font-size: 0.85em;
    }

    h3 {
        font-size: 1.1em;
    }

    .App-header {
      height: 80px;
      padding: 8px;
      padding-top: 2px;
      margin: 0px;
    }

    .App-header .links {
        display: inline-block;
    }

    .App-intro {
      padding: 10px;
      padding-top: 0px;
      margin-top: 0px;
    }

    input, button {
        border: none !important;
        padding: 5px !important;
        padding-top: 0px !important;
        height: 25px;
        margin-bottom: 15px;
        color: #8888CC !important;
    }
}